.services-container {
  background-color: #000;
  color: black;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.service-box {
  background-color: #fff951;
  border-radius: 2rem;
  padding: 2rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 0px #000;
}

.service-box img {
  width: 50px;
}

.quote {
  width: 90%;
  justify-content: center;
  gap: 1rem;
}
